*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding-top: 60px;
    background-color: #f2f2f2 ;
}

header{
    background-color: #1B1B1B;
    color: #fff;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100vw;
    display: flex;
    top: 0;
    padding: 0 20px;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
}

header h1 a{
    text-decoration: none;
    color: #fff;
  }
  
  header h1 a:hover{
    color: #FF0000;
    cursor: pointer;
  }

header h1:hover{
    color: #FF0000;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    transition: color 0.3 ease;
}

.nav-links a:hover{
    color: #FF0000;
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 100px;
    margin-top: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

#inc h2{
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

  fieldset {
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
  }

  legend {
    font-weight: bold;
    padding: 0 10px;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="radio"] {
    width: auto;
    margin-right: 5px;
  }

  button {
    background-color: var(--cor-principal);
    color: rgb(0, 0, 0);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

  button:hover {
    background-color: #092c4b;
    color: white;
  }
